/* Hide scrollbar by default */
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 1px;
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    /* hide */
    scrollbar-color: #94a3b8 transparent;
}